p,
h3 {
  text-align: left;
}

h2 {
  font-size: 3rem;
  margin: 1rem 0rem;
}

h3 {
  font-size: 2rem;
  margin-top: 0;
}

.outer {
  background-color: #ffffff;
  margin: 2rem 10rem;
  padding: 2rem 5rem 4rem 5rem;
  border-radius: 20px;
}

.carousel-root {
  width: 650px;
}

.carousel.carousel-slider {
  border-radius: 10px;
}

.slides {
  padding: 4rem;
  color: #ffffff;
}
