nav {
  background-color: #000000;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
}

li {
  margin: 10px;
  font-style: normal;
  list-style: none;
  float: left;
}

.left {
  font-size: 1.5rem;
  margin: 30px;
}

.right {
  margin: 0 10px;
}
